.trash-btn{
    font-size: 20px;
}
.trash-btn i{
    cursor: pointer;
}
@media (max-width : 850px) {
    .des{
       display: none;
    }

}
@media (max-width : 750px) {
    .catagory{
        display: none;
    }

}

